@model RequestSequenceLabelViewModel

<form asp-action="AddRequestSequenceLabel" asp-controller="Results">
    <input class="form-control" type="hidden" asp-for="sequence_id"/>
    <input class="form-control" asp-for="name"/>
    <button type="submit">Submit</button>
</form>