@model RequestSequenceLabelViewModel

<form class="badge @RequestSequenceLabelViewModel.ColorMappings.GetValueOrDefault(Model.name,"badge-primary")" asp-action="DeleteRequestSequenceLabel" asp-controller="Results">
    <label>@Model.name</label>
    <input class="form-control" type="hidden" asp-for="sequence_id" value="@Model.sequence_id" />
    <input class="form-control" type="hidden" asp-for="id" value="@Model.id" />
    <button type="submit" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</form>
