@using Database.Entities;
@{
    ResponseViewModel response = ViewData["Response"] as ResponseViewModel;
}

<div class="card">
    <div class="card-header" id="accordion-heading-response-@response.id">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-collapse-response-@response.id" ; aria-expanded="true" aria-controls="accordion-collapse-response-@response.id">
                @response.sequence_position - @response.status
            </button>
        </h2>
    </div>
    <div id="accordion-collapse-response-@response.id" class="collapse hide" aria-labelledby="accordion-heading-response-@response.id">
        <div class="card-body">
            <h3>Headers:</h3>
            <p class="card-text">@response.headers</p>
            <h3>Content:</h3>
            <p class="card-text">@response.content</p>
        </div>
    </div>
</div>