@using Database.Entities;

@{
    ViewData["Title"] = "Executed Requests";
}

<h1>@ViewData["Title"]</h1>
<h2>Requests</h2>
<div class="accordion" id="accordionExample">
    @{
        List<RequestEntity> requests = ViewData["Requests"] as List<RequestEntity>;
        foreach (RequestEntity entity in requests)
        {
            @await Html.PartialAsync("_RequestFull",
                new ViewDataDictionary(ViewData)
                {
                    { "Request", entity }
                });
        }
    }
</div>
<h2>Responses</h2>
<div class="accordion" id="accordionExample">
    @{
        List<ResponseEntity> responses = ViewData["Responses"] as List<ResponseEntity>;
        foreach (ResponseEntity entity in responses)
        {
            @await Html.PartialAsync("_ResponseFull",
                new ViewDataDictionary(ViewData)
                {
                    { "Response", entity }
                });
        }
    }
</div>
<h2>Substitutions</h2>
<div class="accordion" id="accordionExample">
    @{
        List<SubstitutionEntity> Substitutions = ViewData["Substitutions"] as List<SubstitutionEntity>;
            @await Html.PartialAsync("_SubstitutionsFull",
                new ViewDataDictionary(ViewData)
                {
                    { "Substitution", Substitutions }
                });

    }
</div>