@using Database.Entities;

@{
    ViewData["Title"] = "Executed Requests";
}

<h1>@ViewData["Title"]</h1>
<div class="accordion" id="accordionExample">
    @{
        List<ResponseEntity> responses = ViewData["Responses"] as List<ResponseEntity>;
        List<List<SubstitutionEntity>> substitutions = ViewData["Substitutions"] as List<List<SubstitutionEntity>>;
        List<RequestEntity> requests = ViewData["Requests"] as List<RequestEntity>;
        RequestSequenceEntity sequence = ViewData["Sequence"] as RequestSequenceEntity;
        for (int i = 0; i < sequence.request_count; ++i)
        {
            if (i < substitutions.Count)
            {
                @await Html.PartialAsync("_SubstitutionsFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Substitution", substitutions[i] }
                    });
            }
            if (i < requests.Count)
            {
                @await Html.PartialAsync("_RequestFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Request", requests[i] }
                    });
            }
            if (i < responses.Count)
            {
                @await Html.PartialAsync("_ResponseFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Response", responses[i] }
                    });
            }

        }
    }
</div>