@{
    ViewData["Title"] = "Executed Requests";
    Layout = "_AddLabelSidebar";
}

<h1>@ViewData["Title"]</h1>
<div class="accordion" id="accordionExample">
    @{
        RequestSequenceViewModel sequence = ViewData["RequestSequence"] as RequestSequenceViewModel;
        for (int i = 0; i < sequence.request_count; ++i)
        {
            if (i < sequence.Substitutions.Count)
            {
                @await Html.PartialAsync("SubstitutionsFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Substitution", sequence.Substitutions[i] },
                        { "SequencePosition", i }
                    });
            }
            if (i < sequence.Requests.Count)
            {
                @await Html.PartialAsync("RequestFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Request", sequence.Requests[i] }
                    });
            }
            if (i < sequence.Responses.Count)
            {
                @await Html.PartialAsync("ResponseFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Response", sequence.Responses[i] }
                    });
            }

        }
    }
</div>
