@model RequestSequenceViewModel
@{
    ViewData["Title"] = "Executed Requests";
    Layout = "_Sidebar";
}

@section Sidebar
{
    <h3>Labels:</h3>
    @foreach (RequestSequenceLabelViewModel label in Model.Labels)
    {
        <span class="badge @RequestSequenceLabelViewModel.ColorMappings.GetValueOrDefault(label.name,"badge-primary")">@label.name</span>
    }
    @{ 
        RequestSequenceLabelViewModel model = new RequestSequenceLabelViewModel();
        model.sequence_id = Model.id.GetValueOrDefault(0);
    }
    @await Html.PartialAsync("_RequestSequenceLabelPicker", model)
}

<div class="accordion" id="accordionExample">
    @{
        for (int i = 0; i < Model.request_count; ++i)
        {
            if (i < Model.Substitutions.Count)
            {
                @await Html.PartialAsync("SubstitutionsFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Substitution", Model.Substitutions[i] },
                        { "SequencePosition", i }
                    });
            }
            if (i < Model.Requests.Count)
            {
                @await Html.PartialAsync("RequestFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Request", Model.Requests[i] }
                    });
            }
            if (i < Model.Responses.Count)
            {
                @await Html.PartialAsync("ResponseFull",
                    new ViewDataDictionary(ViewData)
                    {
                        { "Response", Model.Responses[i] }
                    });
            }

        }
    }
</div>
