@{
    int? sequence_position = ViewData["SequencePosition"] as int?;
    int? sequence_id = ViewData["SequenceId"] as int?;
    List<SubstitutionViewModel> substitutions = ViewData["Substitution"] as List<SubstitutionViewModel>;
}

<div class="card">
    <div class="card-header" id="accordion-heading-substitution-@sequence_id-@sequence_position">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-collapse-substitution-@sequence_id-@sequence_position" ; aria-expanded="true" aria-controls="accordion-collapse-substitution-@sequence_id-@sequence_position">
                Substitutions into next request:
            </button>
        </h2>
    </div>
    <div id="accordion-collapse-substitution-@sequence_id-@sequence_position" class="collapse hide" aria-labelledby="accordion-heading-substitution-@sequence_id-@sequence_position">
        <div class="card-body">
            @foreach (SubstitutionViewModel entity in substitutions)
            {
                <pre class="card-text text-break">@entity.summary</pre>
            }
        </div>
    </div>
</div>