@using Database.Entities;

@{
    ViewData["Title"] = "Summary";
}

<h1>@ViewData["Title"]</h1>
<ul>
@{
    List<RequestSequenceViewModel> sequences = ViewData["Sequences"] as List<RequestSequenceViewModel>;

    for (int i = 0; i < sequences.Count; ++i)
    {
        string url = sequences[i].Requests[sequences[i].Requests.Count - 1].url;
        string result = sequences[i].Responses[sequences[i].Responses.Count - 1].status;
        <li>
            <a asp-controller="Results" asp-action="Sequence" asp-route-id="@sequences[i].id">@sequences[i].id - @result - @url</a>
        </li>
    }
}
</ul>