@model FuzzerParametersViewModel

@{
    ViewData["Title"] = "Fuzzer Configuration";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Fuzzer" asp-action="Start" method="post">
    <label asp-for="RunName"></label>
    <input asp-for="RunName" class="form-control" />
    <br />

    <label asp-for="ExecutionTime"></label>
    <input asp-for="ExecutionTime" class="form-control" />
    <br />

    <label asp-for="Target"></label>
    <input asp-for="Target" type="url" class="form-control" />
    <small class="form-text text-muted">If targeting an app hosted on your local machine, use host.docker.internal instead of localhost.</small>
    <br />

    <label asp-for="TargetEndpoints"></label>
    <select class="form-control" id="endpoint-select" asp-for="TargetEndpoints"
            asp-items="@(new SelectList(Model.Endpoints,"id","url"))">
        <option>Select Target Endpoints</option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Start</button>
</form>