$aperio-background: #3c415e !default;
$aperio-main: #738598 !default;
$aperio-secondary: #dfe2e2 !default;
$aperio-accent: #1cb3c8 !default;
$aperio-emphasis: #FD5F00 !default;

$body-bg: $aperio-background;
$body-color: $aperio-secondary;

$primary: $aperio-main !default;
$secondary: $aperio-secondary !default;
/*$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;*/
$light: $aperio-main !default;
$dark: $aperio-secondary !default;

@import "../lib/bootstrap/scss/bootstrap.scss";
