$aperio-main: #F9F8EB !default;
$aperio-secondary: #76B39D !default;
$aperio-accent: #05004E !default;
$aperio-emphasis: #FD5F00 !default;

$body-bg: #F9F8EB;
$body-color: #76B39D;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

@import "../lib/bootstrap/scss/bootstrap.scss";
