@model RequestViewModel

@{
    ViewData["Title"] = "Add Single Endpoint";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="Endpoints" asp-action="AddFromFile">Bulk Upload</a>

<form asp-controller="Endpoints" asp-action="APIAddEndpoint" method="post" class="form-group">
    <label asp-for="method"></label>
    <select asp-for="method" asp-items="RequestViewModel.Methods" class="form-control text-monospace"></select>
    <br />

    <label asp-for="url"></label>
    <input asp-for="url" class="form-control text-monospace" />
    <br />

    <label asp-for="headers"></label>
    <textarea asp-for="headers" class="form-control text-monospace" style="height:20em"></textarea>
    <br />

    <label asp-for="content"></label>
    <textarea asp-for="content" class="form-control text-monospace" style="height:20em"></textarea>
    <br />

    <button type="submit">Add</button>
</form>
