@model EndpointFileViewModel
@{
    ViewData["Title"] = "Bulk Upload Endpoints";
}

<h1>@ViewData["Title"]</h1>

<form enctype="multipart/form-data" method="post"  asp-controller="Endpoints" asp-action="APIAddEndpointFromFile">
    <dl>
        <dt>
            <label asp-for="FileFormat"></label>
        </dt>
        <dd>
            <select asp-for="FileFormat" asp-items=@Model.SupportedFormats></select>
        </dd>
        <dt>
            <label asp-for="Files"></label>
        </dt>
        <dd>
            <input asp-for="Files" type="file" multiple>
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" />
</form>