@{
    ViewData["Title"] = "Bulk Upload Endpoints";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Endpoints" asp-action="APIAddEndpointFromFile" class="form-group">
    <label>XML + Base64 Encoded Request</label>
    <label>(As exported from Burp Intruder)</label>
    <br />
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="files" multiple>
        <label class="custom-file-label" for="customFile">Choose file(s)</label>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
</form>